/* CSS to format the /book.html page, which uses print.html layout file. */
/* BE AWARE: THIS FORMATTING IS BROUGHT INTO THE PRINT TOO... */
/* For changes _only_ needed for printed document, use print.css. */

body{
  background: white;
}

#content-source{
  flow-into: toprint;
}

#pages{
  /* Container for page-content divs. */
}

.page-content{
  /* Regions container. */
  flow-from: toprint;
  margin: 0in 1in; /* margin & padding only seem to work on the sides in regions.  */
  height: 11in; /* This just serves to split up the CSS regions flow. */
}

.blank{
  visibility: hidden;
}
