/* CSS to format the /book.html page, which uses print.html layout file. */
/* BE AWARE: THIS FORMATTING IS BROUGHT INTO THE PRINT TOO... */
/* For changes _only_ needed for printed document, use print.css. */

body{
  background: #e4edfd;
  width: 8.4in; Just shy of 8.5 to avoid problems, see print.css */
  height: 10.9in;
  font-size: 10pt;
  line-height: 17pt;
  word-spacing: -1px;
}

#content-source{
  /* for Polyfill */
  flow-into: toprint;
}

img{
  max-height: 8.25in; /* Should be as big as .page-content */
}

.menu{
  width: 80%;
  padding: 5%;
  margin: 20px auto;
}

.sheet {
  /* illustrates the size of each sheet,
  to get a better sense of the text block */
  background: #fff;
  height: 11in;
  width: 8.5in;
  margin: 3vh;
}

@media print {
  .sheet, html, body {
    margin: 0;
  }
 }

.page{
  /* container for each .page-content,
  .page-header, and .page-footer */
  margin: 0in 1in;
  position: relative;
  top:  .5in;
  background: white;
  clear: both;
}

.page-header {
  font-size:.75em;
  height: .75in;
  width: 100%;
  clear: both;
}

.content-wrapper {
  /* used in both print.html & print_twocol.html to keep columns from floating
  & to enforce height */
  display: inline; /* don't touch display, postition, top, and left */
  position: relative;
  top: 0;
  left: 0;
  height: 8.5in; /* Needs to match .page-content height. */
  clear: both;

}

.page-content{
  /* Regions container. Flows from #content-source */
  /* margin & padding only seem to work on the sides in regions.  */
  flow-from: toprint;
  display: block;
  height: 8.5in; /* extremely wack */
  /* Don't make taller than .content-wrapper and page size (defined in print.css) */
  margin-bottom: 0.25in;
}
.sheet:nth-child(odd) .page-content  {  margin-left: 1in; }
.sheet:nth-child(even) .page-content  { margin-right: 1in; }

.page-footer{
  height: 0.5in;
  margin-top: 0.5in;
  font-size:.75em;
  width: 100%;
  clear: both;
  text-align: right;
}

.sheet:nth-child(even) .page-footer  {   text-align:justify;
  text-align-last:justify;
 }
.sheet:nth-child(odd) .page-footer span { display: none; }

.page1 .page-footer, .page2 .page-footer, .page3 .page-footer, .page2 .page-header { visibility: hidden; }

.sheet:nth-child(odd) .page-header  { visibility: hidden; }




.front-content{ /* Divs with Half Title, Title, Credits, TOC in book.html */
  break-after: always;
}

.end-content{ /* Footnotes, links, etc.  */
  break-after: always;
}
.content{ /* Divs that contain everything coming through book.html */
  break-after: never; /* overwritten if specific content displayed. */
  display: none;
}

.blank{
  visibility: hidden; /* hiding any mystery content, just takin up space. */
  height: 8.5in; /* should match .page-content height. */
}

.chapter_head {
  break-after: always;
  text-transform: capitalize;
  font-size: 5em;
  line-height: 100%;
  text-indent: -6px;
  -webkit-hyphens: auto;
-ms-hyphens: auto;
hyphens: auto;
color: blue;
}

a{
  text-decoration: none;
}
a:after {
  content: " " attr(href) " ";
  font-size: 70%;
  font-style: italic;
}

.noprint input { padding-left: 2em;
}
