/* CSS to format the /book.html page, which uses print.html layout file. */
/* BE AWARE: THIS FORMATTING IS BROUGHT INTO THE PRINT TOO... */
/* For changes _only_ needed for printed document, use print.css. */

body{
  background: #e4edfd;
   width: 8.4in;/* Just shy of 8.5 to avoid problems, see print.css */
   height: 10.9in;
}

#content-source{
  /* for Polyfill */
  flow-into: toprint;
}

img{
  max-height: 8.25in; /* Should be as big as .page-content */
}

.menu{
  width: 80%;
  padding: 5%;
  margin: 20px auto;
}

.sheet {
  /* illustrates the size of each sheet,
     to get a better sense of the text block */
  background: #fff7d9;
  height: 11in;
  width: 8.5in;
  margin: 3vw;
}

.page{
  /* container for each .page-content,
     .page-header, and .page-footer */
  margin: 0in 1in;
  position: relative;
  top: .5in;
  background: white;
  clear:both;
}

.page-header {
  font-size:.75em;
  height: .75in;
  width: 100%;
  clear: both;
}

.content-wrapper {
  /* used in both print.html & print_twocol.html to keep columns from floating
   & to enforce height */
  display: inline; /* don't touch display, postition, top, and left */
  position: relative;
  top: 0;
  left: 0;
  height: 8.5in;
  clear: both;

}

.page-content{
  /* Regions container. Flows from #content-source */
  /* margin & padding only seem to work on the sides in regions.  */
  flow-from: toprint;
  display: block;
  height: 8.5in; /* extremely wack */
  /* Don't make taller than .content-wrapper and page size (defined in print.css) */
  margin-bottom: 0.25in;

}

.page-footer{
  height: 0.75in;
  font-size:.75em;
  width: 100%;
  clear: both;
}

.front-content{ /* Divs with Half Title, Title, Credits, TOC in book.html */
  break-after: always; /* needed for polyfill */
}

.content{ /* Divs that contain everything coming through book.html */
  break-after: always; /* needed for polyfill */
}

.blank{
  visibility: hidden; /* hiding any mystery content, just takin up space. */
  height: 8.5in; /* should match .page-content height. */
}

a{
  text-decoration: none;
}

a:after {
	content: " (→" attr(href) ") ";
	font-size: 90%;
}

.noprint{
  border: 2px dashed blue;
}

