/* CSS to format the /book.html page, which uses print.html layout file. */
/* BE AWARE: THIS FORMATTING IS BROUGHT INTO THE PRINT TOO... */
/* For changes _only_ needed for printed document, use print.css. */

:root {
 }

body{
  width: calc((var(--trim-width)*2 + 50px));
  font-size: 12pt;
  line-height: 18pt;
  counter-reset: section;
  margin: 0;
}

#content-source {
  /* for Polyfill */
  flow-into: toprint;
}

img{
  max-height: 100%; /* Should be as big as .page-content */
}

.menu{
  margin: 20px;
}

.sheetwrapper {  width: calc((var(--trim-width)*2 + 25px));  }
.sheet {
  /* illustrates the size of each sheet,
  to get a better sense of the text block */
  height: var(--trim-height);
  width: var(--trim-width);
  margin: 20px 6px;
  float: left;
  overflow: hidden;
}

.page { position: absolute;
  height: var(--trim-height);
  width: var(--trim-width);
  overflow: hidden;
  padding: 3em;
  padding-top: 2em;
  padding-left: 6em;
}
.sheet:nth-child(even) .page { padding-left: 3em; padding-right: 6em; }
.sheet:nth-child(1) { float: right; }
.sheet:nth-child(even) { clear: both; }

.page{
  margin: 7% 30% 30% 7%;
}
.sheet:nth-child(odd) .page { margin: 7% 7% 30% 30%; }

.page-header { /* nothing in the header now */
  font-size:.75em;
  background: red;
}

/* don't touch display, postition, top, and left */
/*
.content-wrapper {
  display: inline;
  position: relative;
  top: 0;
  left: 0;
  height: calc(var(--trim-height)*.82);  Needs to match .page-content height.
  clear: both;
 }
 */

.page-content{
  /* Regions container. Flows from #content-source */
  /* margin & padding only seem to work on the sides in regions.  */
  flow-from: toprint;
  display: block;
  height: calc(var(--trim-height)*.86);
  height: calc(var(--trim-height) - 6em); /* extremely wack */
  /* Don't make taller than .content-wrapper and page size (defined in print.css) */
  margin-bottom: 1em;
}
.sheet:nth-child(odd) .page-content  {  margin-left: 0; }
.sheet:nth-child(even) .page-content  { margin-right: 0; }

.page-num{
  position: absolute;
  z-index: 0;
  top: 42%; left: 0;
  font-size: 10em;
  width: 100%;
  clear: both; text-align: center;
  margin: 0;
  mix-blend-mode: multiply;
}

.page1 .page-num, .page2 .page-num, .page1 .page-footer, .page2 .page-footer, .page3 .page-footer, .page2 .page-header { visibility: hidden; }

.sheet:nth-child(odd) .page-header  { visibility: hidden; }

.end-content{
  break-after: always;
}

.front-content{ /* Divs with Half Title, Title, Credits, TOC in book.html */
  break-after: always;
}

.end-content{ /* Footnotes, links, etc.  */
  break-after: always;
}
.content{ /* Divs that contain everything coming through book.html */
/*  break-after: never;  overwritten if specific content displayed. */
  display: none;
}

.blank{
  visibility: hidden; /* hiding any mystery content, just takin up space. */
  height: calc(var(--trim-height)*.85); /* should match .page-content height. */
}

h2 {  }

.page p { margin: 0; text-indent: -5%; display: inline; }
.page p:before {
  counter-increment: section;
  content: counter(section) " ";
}

a{
  text-decoration: none;
}
a:after {
  content: " (" attr(href) ") ";
  font-size: 70%;
  font-style: italic;
}

.noprint input { padding-left: 2em; }
