/* This document is for things we hope people modify! */

:root {
  --trim-width: 6in;
  --trim-height: 9in;
}

body {
  font-family: times, 'Space Mono', monospace;
}

a {
  color: blue;
  border-bottom: 1px solid blue;
}
