/* This document is for things we hope people modify! */

:root {
  --trim-width: 8.5in;
  --trim-height: 11in;
}

body {
  font-family: times, 'Space Mono', monospace;
}

a {
  border-bottom: 1px solid blue;
}
