/* Use this document for things that should _only_ happen once you hit print. Much can be done in book.css which will apply in-browser and in-print. */

@page {
  size: var(--trim-width) var(--trim-height);
  margin: 0; /* see book.css */}

body {
  width: cal(var(--trim-width)-.05in);
  background: white;
}

.sheet-wrapper {
  width: inherit;
}

/* This hides typical URL/Date/Page stuff added by default print styling. All content, full-bleed, baby. */
/* Margins, then, are coming from book.css */

.page-content{
}
.page-footer{
}
.page{
  page-break-after: always;
}

.noprint{ /* HANDY FOR MAKIN STUFF THAT SHOULDN'T PRINT! */
  display: none;
}
