/* CSS to format the /book.html page, which uses print.html layout file. */
/* BE AWARE: THIS FORMATTING IS BROUGHT INTO THE PRINT TOO... */
/* For changes _only_ needed for printed document, use print.css. */


/* used with .page-content
 * see book.css */ 
.col {
  width: 3.5in;
  height: 8.75in; /* any taller causes problems */
  float: left;
  margin-right: .25in;
  background-color: white;
} .col:last-child{
  margin-right:0;
}

/* an extra div in print_twocol.html
 * to keep footer at the bottom of
 * the page */
.wrapper {
  clear: both;
  height: 8.5in;
  width: 8.75in; /* must match height of .col */
  margin-bottom: .25in;
  display: inline-block;
}