/* universal core */

  body {
    font-family: "Burgess-Regular", Times, Serif,;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 1.2rem;
    color: black;
    line-height: 140%;
    margin: 0; padding: 0;
    display: grid;
    grid-template-columns: 3rem 1fr 2rem;
    grid-template-rows: 4rem minmax(auto, 45vh) /* 4rem 1fr 4rem auto 2rem auto 4rem  */ auto;
    grid-gap: 4rem;
  }

  footer { grid-column: 1 / 4; justify-self: center; align-self: center; }

  footer { margin-bottom: 2rem; }
  a, a:visited { text-decoration: none; color: #231; }
  a:hover { color: #cc114a; /* background: linear-gradient(to right, #eee, #fff); */ }


  /* universal nav branding*/
  .title { position: fixed; display: grid; top: 0; left: 3rem; height: 3rem; width: 100vh; transform: rotate(90deg); transform-origin: 0% 0%; text-align: center; align-content: center; z-index: 3; font-family: DomaineSansText-Medium; color: #444;}
  .mobiletitle,   .mobiletitle a  { display: none;  color: rgba(70, 200, 142, 1); }
  nav { grid-row: 1 / 1; grid-column: 1 / 4; display: grid; justify-content: left; align-items: center;  z-index: 5; border-bottom: 1px solid #4a4a4a; font-family: DomaineSansText-Regular; }
  nav ul li { display: inline-block; margin-left: 2rem; color: #3a3a3a;  font-size: 1rem; }
  nav ul { margin-left: 5rem;  }
  aside { display: grid; justify-content: center; grid-row: 1 / 10; grid-column: 1 / 2; background: linear-gradient(#0EFAC0, #ECBA0E); padding-top: 1.5rem; }
  @media only screen and (max-width: 970px) {
    .mobiletitle, .mobiletitle a { display: inline-block; }
    .mobiletitle a:hover { color:#cc114a }
    nav ul { margin-left: 3rem;  }
    .title { display: none; }
    body {     grid-template-columns: 1rem 1fr 1rem; grid-gap: 3rem;}
    nav ul { margin-left: 2rem;  }
  }

    /* universal elements */
    .indexdump { margin-left: 3vw; max-width: 1100px;  }
    .indexdump tr { border-bottom: 1px dotted #dedede; }
    .indexdump td { padding-top: .3rem; }



    /* universal text */
    h1 { font-size: 6.225vw; margin: 4rem 0; line-height: 100%;  font-variant-numeric: proportional-nums; }
    h2 { font-size: 2.5rem; margin-bottom: 2rem; font-style: italic;  }
    h3 { font-family: DomaineSansText-Regular;  color: #cc114a; font-size: 1.8rem; margin: 2rem 0 1rem 20%;  }
    article h3 { margin-left: 20%;}
    h4 { font-size: 1.8rem; line-height: 2rem; }
    h5, h6 { font-size: 1.18rem; line-height: 140%; margin: 1rem 0; width: 66%; }
    h6 { font-family: DomaineSansText-Regular; margin-left: 20%; color: #797777; width: 66%;  }
    h2, h3, h4, h5, p, a {     font-variant-numeric: oldstyle-nums; }
    .label { font-family: DomaineSansText-Regular; font-style: normal; color: #797777; font-size: 1.4rem; padding: .5rem 0; margin: 2rem 0 1rem 0;  }
    span.publisher { padding-left:0.5rem;  font-size: 1rem; color: #797777; font-family: DomaineSansText-Italic; }

    article p { line-height: 140%; letter-spacing: .1px; font-size: 1.8rem; color: #3a3a3a;  }

    @media only screen and (max-width: 970px) {
      .indexdump { margin-left: 0; }
      .indexdump td { padding-bottom: .4rem; }
      .recentadditions li { display: block; }
      .recentadditions ol { font-size: 2.5rem; }
      h1 { font-size: 4rem; }
      .publisher { display: block; padding-left: 0rem; }
    }


    /* core queries */
    @media only screen and (max-width: 970px) {  html {font-size: 15px;  }}
    @media only screen and (max-width: 500px) {  html {font-size: 14px;  }}
    @media only screen and (min-width: 1480px) {  html {font-size: 20px;  }}



/* html {  font-size: 14pt; height: 100%; }
body{
  width: 100%;
  margin: 0;
  color: black;
  font-family: "Burgess-Regular", Times, Serif,;
  font-variant-numeric: oldstyle-nums;
  font-size: 14pt;
  line-height: 140%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3.6rem 1fr 3rem;
}
blockquote { margin: 0 2rem; font-style: italic;
}
blockquote p { font-style: italic; }
main a {
  text-decoration: none;
  color: inherit;
  transition: all .5s;
  border-bottom: 1px solid blue;
}
main a:hover{
  background: yellow;
  color: #3a3a3a;
}
ul li { margin-left: 3rem; list-style-type: disc; }
ol li { margin-left: 3rem; list-style-type: decimal; }
nav, footer, .title {
  display: grid;
  font-size: 12pt;
  text-transform: uppercase;
  color: white;
  font-family: TrustSerif-Medium110422;
}
nav { grid-row: 1/2; grid-column: 1/3; }
footer { grid-row: 3/4; grid-column: 1/3; }
.title { grid-column: 1/3; grid-row: 1/2; color: white; z-index: 5;
  align-self: center; justify-self: center;
}
nav div, footer div { margin: 0 2rem;  }
nav a, footer a { color: white; text-decoration: none; }
nav a:hover, footer a:hover  {
  opacity: .7;
}


main { display: grid;
      background: rgba(255,192,203,.0);
      grid-row: 2/3;
      grid-column: 1/4;
      grid-template-columns: 10rem 1fr;
      grid-template-rows: auto auto;
      padding-bottom: 4rem;
}
aside { justify-self: center;
        align-self: center;
        grid-row: 1/3;
        grid-column: 1/2;
}
main>div { max-width: 1200px; justify-self: center;
  grid-column: 2/3; grid-row: 1/3; }
article {padding-right: 4rem; }

@media only screen and (min-width: 1380px) {
}
@media only screen and (max-width: 900px) {
  main>div { grid-column: 1/3;  margin: 0 2rem; }
  aside { display: none; }
}

h1 { font-size: 6.225vw; margin-top: 4rem; line-height: 100%; margin-bottom: 4rem; font-variant-numeric: proportional-nums; }

h2 { font-size: 2.5rem; margin-bottom: 3rem; font-style: italic;  }


  h3 { font-family: DomaineSansText-Regular; border-bottom: 1px solid #a7a2a2; color: #797777; font-size: 1rem; padding: .5rem 0; margin: 2rem 0 1rem 0;  text-transform: uppercase;}
  h4 { font-size: 1.8rem; line-height: 2rem; }

h4, h5, h6 { font-style: italic; }
h5, h6 { font-size: 1.18rem; line-height: 140%; margin: 1rem 0; width: 66%; }
h6 { margin-left: 2rem; color: #636363; width: 66%;  }

img { width: 100%; }
article p { line-height: 140%; letter-spacing: .1px; font-size: 1.5rem; color: #1a1a1a;  }
article ul, article ol {
    -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    font-size: 1.2rem;
    line-height: 140%;
    margin: 0 0 1rem 0 ;
    color: #3a3a3a;
}
article div.images {			display: grid;
			padding: 0;
			min-height: 200px;
      margin: 1rem 0;
      padding: 3rem 0;
      border-top: 3px double grey;
      border-bottom: 3px double grey;
			grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
			grid-column-gap: 10px;
			align-content: space-around;
			justify-content: space-between;
       counter-reset: figurecounter;
}
figure {
justify-self: center; align-self: start; text-align: center;
margin: 1rem .5rem;
}
figcaption:before {
    color: red;
        counter-increment: figurecounter;
         content:   counter(figurecounter) " - ";
}
figure img { width: 100%; }

p {  margin: 0; margin-bottom: 1em;
}
.author { padding-left: 2rem; font-style: italic; }

@media (min-width: 1480px) {
  h1 { font-size: 5.1rem; }
}
@media only screen and (max-width: 1000px) {
  html { font-size: 12pt;}
  header p, h5 { width: 100%; }
  h1 { margin-top: 4rem; margin-bottom: 4rem; }
  .author { padding-left: 1rem;  }
}
@media only screen and (max-width: 700px) {
  h1 { font-size: 4.1rem; }
  html { font-size: 9pt;}
  nav, .title { font-size: 10pt; }
  article, header { padding-right: 1rem; }
  h5 { width: 100%; }
  h2 { margin: 2rem 0 1rem 0; }
}
*/
