body{
  font-family: 'Space Mono', monospace;
  color: black;
  text-align: left;
  width: 100%;
  font-size: 17px;
  line-height: 30px;
  margin-top: 3vh;
}

img{
  max-width: 100%;
}

h1, h2, h4 {
  font-weight: bold;
}
h3 {  font-style: italic;}
.toc h3 { text-transform: capitalize; margin-top: 24px; text-indent: 41px; }

p{
  margin: 0;
  margin-top: 1em;
}

a{
  border-bottom: 1px solid blue;
  color: blue;
  text-decoration: none;
}
a:hover{
  background: blue;
  color: white;
  background-color: blue;
}

a.button {
  /* on index */
  display: inline-block;
  padding: 1.6em;
  margin-top: 2em;
  border: 2px solid blue;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.agate { font-size: 70%; }
.initials{
  color: red;
}

.conversation-question{ /* For Conversation Questions, denoted [INITIALS]-q in post files. */
  font-weight: bold;
}

/* Web-only stuff: */

.wrapper{
  /* Goes just within the body, around all Page or Post Content. */
  width: 70%;
  margin: 0 auto;
}
