body{
  background: white;
  font-family: sans-serif;
  color: blue;
  font-size: 20px;
  text-align: left;
  width: 100%;
  line-height: 1.5em;
}

img{
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: normal;
}

p{
  margin: 1em 0;
  font-family: serif;
  line-height: 1.5em;
  color: red;
}

a{
  color: blue;
}
a:hover{
  text-decoration: none;
}

.initials{
  font-family: monospace;
  font-size: .8em;
}

.conversation-question{ /* For Conversation Questions, denoted [INITIALS]-q in post files. */
  font-weight: bold;
}

/* Web-only stuff: */

.wrapper{
  /* Goes just within the body, around all Page or Post Content. */
  width: 70%;
  margin: 0 auto;
}





