/*CSS in addition to Meyer's reset, which is an Include.*/

*{}

body{
  line-height: 120%;
}

a{
  color: #0000ff;
}
a:hover{
  text-decoration: none;
}

.wrapper{
  /* Goes just within the body, around all Page or Post Content. */
  width: 70%;
  margin: 0 auto;
}

.wrapper img{
  width: 100%;
}
