---
layout: print
---

<!--
This is a display of content in preparation for print.
The contents of this page are loaded into the print.html layout.
-->

<!-- 2 Blank Pages -->

<div class="blank">
  Page intentionally left blank.
</div>
<div class="page-break"></div>

<div class="blank">
  Page intentionally left blank.
</div>
<div class="page-break"></div>


<!-- Half Title Page -->
<h2>{{ site.title }}</h2>
<p>Half Title Page</p>
<div class="page-break"></div>

<!-- Blank Page -->
<div class="blank">
  Page intentionally left blank.
</div>
<div class="page-break"></div>


<!-- Title Page -->
<h1>{{ site.title }}</h1>
<p>Title Page<p>
<div class="page-break"></div>


<!-- Front Matter... ish -->
<p>{% for page in site.pages %}{% if page.category == 'credits' %}
  {{page.content}}
  {% endif %}{% endfor %}
</p>
<div class="page-break"></div>

<p><em>{{ page.subtitle }}</em></p>
<div class="page-break"></div>


<!-- Table of Contents -->
<h1>Table of Contents</h1>
<ul>
  {% for post in site.posts %}
  <li>
    <span class="post-meta">{{ post.date | date: "%m.%d.%Y" }}</span>
    {{ post.content-type }}: {{ post.title }}
  </li>
  {% endfor %}
</ul>
<div class="page-break"></div>

<!-- All Content, by content type. -->

<!--If we want, do a loop through types here...? -->


<h1>images</h1>
<div class="page-break"></div>


<!-- Image -->
{% for post in site.posts %}
{% if post.content-type == 'image' %}

<div class="content image">
  {{ post.date | date: "%m.%d.%Y" }}<br />
  <h1>{{ post.content-type }}: {{ post.title }}</h1><br />
  <img src="{{ post.imgurl }}" />
  {{post.content}}
</div>
<div class="page-break"></div>
{% endif %}
{% endfor %}
<div class="page-break"></div>

<!-- /Image -->

<h1>conversations</h1>
<div class="page-break"></div>

<!-- Conversation -->
{% for post in site.posts %}
{% if post.content-type == 'conversation' %}

<div class="content conversation">
  {{ post.date | date: "%m.%d.%Y" }}<br />
  <h1>{{ post.content-type }}: {{ post.title }}</h1><br />
  {{post.content}}
</div>
<div class="page-break"></div>
{% endif %}
{% endfor %}
<div class="page-break"></div>

<!-- /Conversation -->

<h1>blog posts</h1>
<div class="page-break"></div>

<!-- Blogpost -->
{% for post in site.posts %}
{% if post.content-type == 'blogpost' %}

<div class="content blogpost">
  {{ post.date | date: "%m.%d.%Y" }}<br />
  <h1>{{ post.content-type }}: {{ post.title }}</h1><br />
  {{post.content}}
</div>
<div class="page-break"></div>
{% endif %}
{% endfor %}
<div class="page-break"></div>
<!-- /Blogpost -->
