<div class="menu noprint">
  <ol>
  {% for content_type in site.content_types %}
  {% for post in site.posts %}
  {% if post.content-type == content_type %}
  <li><input type="checkbox" id="checkbox-{{content_type}}" />{{ content_type }}</li>
  {% break %}
  {% endif %}
   <!-- Basically, break if we see any content of the type we're looking for (so no checkbox appears if no content of that content type) -->
  {% endfor %}

  {% endfor %}
  </ol>
  <a id="trim_pages_button" class="button">Trim Pages</a> <a style="display: none" id="print_button" class="button">Print!</a>
</div>
