<div class="menu noprint">
  <ul id="content_selection_menu">
    {% for chapter in site.chapters %}
      {% for post in site.posts %}
        {% if post.chapter == chapter %}
          <li><input type="checkbox" class="chapter-checkbox" data-chapter="{{ chapter }}"/><strong>{{ chapter }}</strong></li>
          {% break %}
        {% endif %}
      {% endfor %}
      {% for post in site.posts %}
        {% if post.chapter == chapter %}
          <li><input type="checkbox" id="checkbox-post" class="post-checkbox" data-slug="{{ post.url }}" data-chapter = "{{ post.chapter }}" />{{ post.title }} in {{ post.chapter }}</li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
  <div id="trim_pages_button" class="button">Trim Pages</div> <div style="display: none" id="assign_pagenums_button" class="button">Get Page Numbers</div> <div style="display: none" id="print_button" class="button">Print!</div> &nbsp; &nbsp; <div style="display: none" id="refresh_button" class="button">↺ Refresh</div> <br />
  <div id="select_button" class="button">Select All</div> <div id="deselect_button" class="button">Deselect All</div>
</div>
