<html>
  <head>
    {% include meyer_reset.html %}
    {% include web_css.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/interview.css" />
  </head>
  <body>
    {% include jquery.html %}

    <header>
      <h1>{{ page.title }}</h1>
      <span>{{ page.date | date: "%m %d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}</span>
    </header>

    <div class="post-content" itemprop="articleBody">
      <h1 id="interviewer_initials" style="display: none">
        {{ page.interviewer_initials }}
      </h1>
      <h1 id="interviewee_initials" style="display: none">
        {{ page.interviewee_initials }}
      </h1>
      {{ content }}
    </div>

    <script type="text/javascript" src="{{ site.baseurl }}/js/label_interview_paragraphs.js"></script>

  </body>
</html>

