<!DOCTYPE html>
<html>
  <head>
  <style>
  :root {
    --trim-width: {{ site.book_width }};
    --trim-height: {{ site.book_height }};
    --outside-margin: {{ site.margin }};
  }
  .mobiletitle, .mobiletitle a { display: inline-block; }
  .mobiletitle a:hover { color:#cc114a }
  nav { height: 4rem; }
  </style>
    {% include metadata.html %}
    {% include meyer_reset.html %}
    {% include jquery.html %}
    {% include universal_css.html %}
    {% include custom_css.html %}
    {% include book_css.html %}
    {% include print_css.html %} <!-- Print-media stylesheet. -->
  </head>

  <body>
    <nav class="noprint">
      <ul>
        <li class="mobiletitle">{{ site.title }}</li>
        <li>Book size: {{ site.book_width }} 	&#215;  {{ site.book_height }}</li>
      <ul>
    </nav>


    {% include print_menu.html %}

    <!-- ostensibly just pulling in book.html -->
    <div id="content-source"> <!-- Flow-into Element -->
      {{ content }}
    </div>

    <div class="sheet-wrapper">
    {% for num in (1..site.num_pages) %}
    <div class="sheet">
      <div class="page page{{ num }}" data-pagenum="{{ num }}">
        <div class="page-header">
          <!-- Optional page headers. -->
        </div>
        <div class="content-wrapper">
          <div class="page-content"></div> <!-- Content will flow into these divs. IMPORTANT THAT NOTHING INSIDE...!-->
        </div>
        <div class="page-footer">
          <span class="contextual-info"></span><span>{{ site.title }} - {{ site.author }}</span>
        </div>
        <div class="page-num">
          {{ num }}
        </div>
      </div>
    </div>
    {% endfor %}
    </div>

    {% include checkboxes_links.html %}
    {% include regions_js.html %} <!-- See https://github.com/FremyCompany/css-regions-polyfill - at end of page so all assets load -->
  </body>

</html>
