<!DOCTYPE html>
<html>
  <head>
    {% include metadata.html %}
    {% include meyer_reset.html %}
    {% include jquery.html %}
    {% include universal_css.html %}
    {% include book_css.html %} <!-- Styles web view of book content, the "print preview" in-browser -->
    {% include print_css.html %} <!-- Print-media stylesheet. -->
    {% include regions_js.html %} <!-- See https://github.com/FremyCompany/css-regions-polyfill -->
  </head>

  <body>

    <div id="content-source">
      <!-- ostensibly just pulling in book.html -->
      {{ content }}
    </div>

    <!-- should make one of these for each page, probably -->
    <!--
    <div class="page-content"></div>
    <div class='page-content'></div>
    <div class='page-content'></div>
    <div class='page-content'></div>
    <div class='page-content'></div> -->

  </body>

</html>
