<!DOCTYPE html>
<html>
  <head>
    {% include metadata.html %}
    {% include meyer_reset.html %}
    {% include universal_css.html %}
    {% include web_css.html %}
    {% include type_css.html %}
    <title>{{ page.title }}</title>
  </head>

  <body>


    <div class="wrapper">
      <div class="page-content">
        <h1>
          {{ page.title }}
        </h1>

        <ul>
          {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%-d %B %Y" }}</span></br>
        {{ post.content-type }} <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }}</a>
        </li>
      {% endfor %}
      </ul>

    {{ content }}

    <p>
      {{ site.description }}
    </p>
    <p>
      <a href="book.html" class="button">MAKE BOOK</a><br />
      <a href="book_twocol.html" class="button">MAKE TWO-COLUMN BOOK</a><br />
    </p>
    </div>
  </div>

</body>

</html>
